# core data processing
pandas>=1.5.0

sqlalchemy>=1.4.0,<2.0.0
pymysql>=1.0.0
mysql-connector-python>=8.0.33


apache-airflow==2.7.2
apache-airflow-providers-mysql>=5.4.0


pendulum>=2.1.2
python-dateutil>=2.8.2


pytest>=7.0.0
pytest-cov>=4.0.0


python-dotenv>=1.0.0

# optional
openpyxl>=3.1.0
xlsxwriter>=3.1.0